*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Leela;
    src: url(../Fonts/LeelaUIb.ttf);
    font-weight: bold;
    font-style: normal;
}

:root{
    --thirdColor:rgb(1, 2, 10); /* background */
    --secondColor:rgb(255, 255, 255); /* Shadows */
    --mainColor:rgb(255, 0, 0); /* Main Color */
    --mainColorTransparent:rgba(255, 0, 0, 0.2); /* Main Color TransParent */
    --hueShift:0deg; /* Images */
    --brightness:100%; /* Images */
}

/* 
--thirdColor:rgb(255, 255, 255); 
--secondColor:rgb(0, 0, 0);
--mainColor:red;
--mainColorTransparent:rgba(255, 0, 0, 0.131); 
--hueShift:0deg;
--brightness:100%;
 */

body{
    background-color: var(--thirdColor);
    overflow-x: hidden;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.header{
    background-color: black;
    width: 100vw;
    height: 10vh;
    z-index: 10;
    box-shadow: 0px 0px 30px 0px black;
}
.header a{
    height: 65%;
    transition-duration: 200ms;
}
.header a:hover{
    height: 80%;
    transition-duration: 100ms;
}
.header a img{
    height: 100%;
    filter: hue-rotate(var(--hueShift)) brightness(var(--brightness));
}

.homeContainer{
    height: 90vh;
    display: flex;
    flex-direction: row;
}

@media (max-width:720px) { 
    .homeContainer{
        flex-direction: column;
    }
}

.homeContainer div{
    width: 50vw;
    height: 100%;
}

.homeLeft{
    margin: 1vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
h1{
    font-family: "Leela", sans-serif;
    font-size: 4vw;
    font-weight: bold;
    color: var(--mainColor);
    text-shadow: 4px 4px 0px var(--mainColorTransparent);
}
h3{
    font-family: "Leela", sans-serif;
    font-size: 1.9vw;
    font-weight: bold;
    color: var(--mainColor);
    text-shadow: 4px 4px 0px var(--mainColorTransparent);
}
h4{
    font-family: "Leela", sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    color: var(--mainColor);
    text-shadow: 4px 4px 0px var(--mainColorTransparent);
}
h2{
    font-family: "Leela", sans-serif;
    font-size: 3vw;
    font-weight: bold;
    color: var(--mainColor);
    text-shadow: 4px 4px 0px var(--mainColorTransparent);
}
p{
    font-family: "Leela", sans-serif;
    font-size: 1.8vw;
    padding-left: 5vw;
    padding-right: 5vw;
    color: var(--mainColor);
    text-shadow: 4px 4px 0px var(--mainColorTransparent);
}

.homeLeft button{
    border-color: var(--mainColor);
    border-radius: 15px;
    height: 10vh;
    min-width: 22vw;
    margin: 2vw;
    background-color: transparent;
    transition-duration: 200ms;
}
.homeLeft button:hover{
    border-color: var(--thirdColor);
    background-color: var(--mainColor);
    transition-duration: 100ms;
    cursor: pointer;
    box-shadow:0px 0px 50px 0px var(--mainColor);
    z-index: 10;
}
.homeLeft button:active{
    background-color: var(--secondColor);
    border-color: var(--thirdColor);
}
.homeLeft button:hover h2{
    color: var(--thirdColor);
    text-shadow: 4px 4px 0px var(--secondColor);
}
.homeLeft button:active h2{
    color: var(--thirdColor);
    text-shadow: 4px 4px 0px var(--mainColor);
}

.horizontal{
    display: flex;
    flex-direction: row;
    gap: -10px;
}

.homeRight{
    background-color: var(--mainColorTransparent);
    margin: 1vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow:inset 0px 0px 120px 100px var(--thirdColor);
}

.homeRight img{
    width: 75%;
    box-shadow: 0px 0px 150px 50px var(--thirdColor);
}

.socials img{
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    margin-bottom: 2vw;
    transition-duration: 200ms;
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px var(--mainColor);
    filter: hue-rotate(var(--hueShift)) brightness(var(--brightness));
}

.socials img:hover{
    border-radius: 10%;
    transition-duration: 100ms;
    box-shadow: 0px 0px 50px 10px var(--thirdColor);
}

.gameLeft{
    width: 35vw;
    height: 90vh;
    gap: 2vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition-duration: 100ms;
}
.gameRight{
    width: 60vw;
    height: 33.75vw;
    transition-duration: 100ms;
}
.gameLeft:has(+ .gameRight:hover){
    width: 25vw;
}
.gameRight:hover{
    width: 75vw;
    transition-duration: 100ms;
}

.gameContainer{
    z-index: 10;
    width: 60vw;
    height: 33.75vw;
    transition-duration: 100ms;
    position: relative;
    box-shadow: 0px 0px 50px -50px var(--mainColor),0px 0px 50px -10px var(--secondColor);
}

.gameRight:hover .gameContainer:hover{
    width: 75vw;
    height: 42.1875vw;
    transition-duration: 100ms;
}

.gameContainer img{
    filter: saturate(150%);
    position: absolute;
    width: 100%;
    height: 100%;
}

.timer{
    position: absolute;
    height: 2vh;
    width: 0vw;
    background-color: var(--mainColor);
    bottom: 0vh;
}

.infoButton{
    margin-left: 0.5vw;
    border-color: transparent;
    border-radius: 1000px;
    background-color: transparent;
    cursor: pointer;
}
.infoButton h3{
    font-size: 1.5vw;
    line-height: 2.65vw;
}


.gap{
    height: var(--gap);
}

.gameLeft button{
    border-color: var(--secondColor);
    border-radius: 15px;
    background-color: transparent;
    transition-duration: 200ms;

    width: 15vw;
    height: 5vw;
}
.gameLeft .buttonSelected{
    border-radius: 15px;
    cursor: pointer;
    border-color: var(--thirdColor);
    box-shadow: 0px 0px 20px 0px var(--mainColor);
    background-color: var(--mainColor);
    transition-duration: 150ms;
}
.gameLeft .buttonSelected:hover{
    background-color: var(--thirdColor);
    border-color: var(--mainColor);
}

.gameLeft .buttonSelected:active{
    background-color: var(--secondColor);
    border-color: var(--thirdColor);
}

.gameLeft button h3{
    color: var(--secondColor);
}

.gameLeft .buttonSelected h3{
    color: var(--thirdColor);
    text-shadow: 4px 4px 0px var(--secondColor);
}
.gameLeft .buttonSelected:hover h3{
    color: var(--mainColor);
}
.gameLeft .buttonSelected:active h3{
    color: var(--thirdColor);
}

.mapSelect{
    position: absolute;
    margin-top:-39vw;
    margin-left:35vw;
    display: none;
    flex-direction: row;
    gap: 0.75vw;
}
.mapSelect button{
    width: 6vw;
    height: 4.5vh;
}

.mapSelect button{
    background-color: var(--mainColor);
    color: var(--secondColor);
    font-size: 1vw;
    border-radius: 5%;
    box-shadow: 0px 0px 10px 0px var(--mainColor);
    border: var(--thirdColor) 0.12vw solid;
    font-family: "Leela", sans-serif;
    font-weight: bold;
    transition-duration: 100ms;
}
.mapSelect button:hover{
    cursor: pointer;
    background-color: var(--thirdColor);
    color: var(--mainColor);
    transition-duration: 100ms;
}

.selectedMap{
    border: var(--secondColor) solid !important;
}

.slider {
    -webkit-appearance: none;
    width: 40vw;
    height: 1vw;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 1vw;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    border-radius: 45%;
    height: 25px;
    box-shadow: 0px 0px 10px 0px var(--mainColor);
    background: var(--mainColor);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 45%;
    box-shadow: 0px 0px 10px 0px var(--mainColor);
    background: var(--mainColor);
    cursor: pointer;
  }
#difficultyText{
    margin: 0.5vw;
}

#difficultyButton{
    border-color: var(--mainColor);
    border-radius: 15px;
    height: 4vw;
    margin: 1vw;
    min-width: 15vw;
    background-color: transparent;
    transition-duration: 200ms;
}
#difficultyButton:hover{
    border-color: var(--thirdColor);
    background-color: var(--mainColor);
    transition-duration: 100ms;
    cursor: pointer;
    box-shadow:0px 0px 50px 0px var(--mainColor);
    z-index: 10;
}
#difficultyButton:active{
    border-color: var(--secondColor);
}

#difficultyButton:hover h4{
    color: var(--thirdColor);
    text-shadow: 4px 4px 0px var(--secondColor);
}

.startGameSmallButton{
    border-color: var(--mainColor);
    border-radius: 15px;
    height: 3vw;
    min-width: 7.5vw;
    background-color: transparent;
    transition-duration: 200ms;
}
.startGameSmallButton h4{
    margin: 0.5vw;
}

.startGameSmallButton:hover{
    border-color: var(--thirdColor);
    background-color: var(--mainColor);
    transition-duration: 100ms;
    cursor: pointer;
    box-shadow:0px 0px 25px 0px var(--mainColor);
    z-index: 10;
}
.startGameSmallButton:hover h4{
    color: var(--thirdColor);
    text-shadow: 4px 4px 0px var(--secondColor);
}

.mapButtonSelected{
    background-color: var(--mainColor);
    box-shadow:0px 0px 50px 0px var(--mainColor);
}
.mapButtonSelected:hover{
    background-color: var(--secondColor);
    box-shadow:0px 0px 50px 0px var(--mainColor);
}
.mapButtonSelected h4{
    color: var(--thirdColor);
    text-shadow: 4px 4px 0px var(--secondColor);
}

#roundAmmountSliderText{
    width: 10vw;
}

#timeLimitSliderText{
    width: 15vw;
}

#startButton{
    margin: 2vw;
    border-color: var(--thirdColor);
    border-radius: 15px;
    height: 12vw;
    min-width: 20vw;
    background-color: var(--thirdColor);
    box-shadow:0px 0px 10px 0px var(--mainColor);
    transition-duration: 200ms;
}

#startButton:hover{
    background-color: var(--mainColor);
    box-shadow:0px 0px 50px 0px var(--mainColor);
    cursor: pointer;
}

#startButton:hover h2{
    color: var(--thirdColor);
    text-shadow: 4px 4px 0px var(--secondColor);
}

#mapImg{
    opacity: 0%;
    transition-duration: 100ms;
}
.gameContainer:hover #mapImg{
    opacity: 100%;
    transition: ease-out 100ms;
}
#AnswerImg{
    opacity: 0%;
}

#overlay{
    opacity: 100%;
    position: fixed;
    margin-top: -100vh;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: var(--secondColor);
    pointer-events: none;
}

.overlayOff{
    transition: ease-out 1000ms;
    opacity: 0% !important;
}

.selectedImage{
    opacity: 0%;
    width: 8px !important;
    height: 8px !important;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px black;
}
.gameContainer:hover .selectedImage{
    opacity: 100%;
}