*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Leela;
    src: url(../Fonts/LeelaUIb.ttf);
    font-weight: bold;
    font-style: normal;
}

:root{
    --thirdColor:rgb(20, 6, 6); 
    --secondColor:rgb(255, 255, 255);
    --mainColor:rgb(255, 255, 255);
    --mainColorTransparent:rgba(255, 0, 0, 0.281); 
    --hueShift:0deg;
    --brightness:100%;
}
#riotText{
    color: var(--secondColor);
}
/* 
    --thirdColor:rgb(255, 255, 255); 
    --secondColor:rgb(0, 0, 0);
    --mainColor:red;
    --mainColorTransparent:rgba(255, 0, 0, 0.131); 
    --hueShift:0deg;
    --brightness:100%;
 */

 /* --thirdColor:rgb(26, 9, 31); 
 --secondColor:rgb(255, 255, 255);
 --mainColor:rgb(255, 255, 255);
 --mainColorTransparent:rgba(162, 0, 255, 0.486); 
 --hueShift:-75deg;
 --brightness:80%; */

body{
    background-color: var(--thirdColor);
    overflow-x: hidden;
    overflow-y: hidden;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.header{
    background-color: black;
    width: 100vw;
    height: 10vh;
    z-index: 10;
    box-shadow: 0px 0px 30px 0px black;
}
.header a{
    height: 65%;
    transition-duration: 200ms;
}
.header a:hover{
    height: 80%;
    transition-duration: 100ms;
}
.header a img{
    height: 100%;
    filter: hue-rotate(var(--hueShift)) brightness(var(--brightness));
}

.homeContainer{
    height: 90vh;
    display: flex;
    flex-direction: row;
}

@media (max-width:720px) { 
    .homeContainer{
        flex-direction: column;
    }
}

.homeContainer div{
    width: 50vw;
    height: 100%;
}

.homeLeft{
    padding-top: 1vw;
    padding-left: 1vw;
    margin: 1vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
h1{
    font-family: "Leela", sans-serif;
    font-size: 4vw;
    font-weight: bold;
    color: var(--mainColor);
    text-shadow: 4px 4px 0px var(--mainColorTransparent);
}
h3{
    font-family: "Leela", sans-serif;
    font-size: 1.9vw;
    font-weight: bold;
    color: var(--mainColor);
    text-shadow: 4px 4px 0px var(--mainColorTransparent);
}
h4{
    font-family: "Leela", sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    color: var(--mainColor);
    text-shadow: 4px 4px 0px var(--mainColorTransparent);
}
h2{
    font-family: "Leela", sans-serif;
    font-size: 3vw;
    font-weight: bold;
    color: var(--mainColor);
    text-shadow: 4px 4px 0px var(--mainColorTransparent);
}
p{
    font-family: "Leela", sans-serif;
    font-size: 1.8vw;
    padding-left: 5vw;
    padding-right: 5vw;
    color: var(--mainColor);
    text-shadow: 4px 4px 0px var(--mainColorTransparent);
}

.homeLeft a{
    height: 5vw;
}

.homeLeft h3{
    line-height: 20%;
}

.homeLeft button{
    border-color: var(--mainColor);
    border-radius: 15px;
    height: 5vw;
    min-width: 22vw;
    margin: 2vw;
    background-color: transparent;
    transition-duration: 200ms;
}
.homeLeft button:hover{
    border-color: var(--thirdColor);
    background-color: var(--mainColor);
    transition-duration: 100ms;
    cursor: pointer;
    box-shadow:0px 0px 50px 0px var(--mainColor);
    z-index: 10;
}
.homeLeft button:active{
    background-color: var(--secondColor);
    border-color: var(--thirdColor);
}
.homeLeft button:hover h2{
    color: var(--thirdColor);
    text-shadow: 4px 4px 0px var(--secondColor);
}
.homeLeft button:active h2{
    color: var(--thirdColor);
    text-shadow: 4px 4px 0px var(--mainColor);
}

.horizontal{
    display: flex;
    flex-direction: row;
    gap: -10px;
}


.horizontalScore{
    display: flex;
    flex-direction: row;
    gap: -10px;
}


.homeRight{
    background-color: var(--mainColorTransparent);
    margin: 1vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow:inset 0px 0px 100px 100px var(--thirdColor);
}

.homeRight img{
    width: 75%;
    box-shadow: 0px 0px 150px 50px var(--thirdColor);
}

.socials img{
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    margin-bottom: 2vw;
    transition-duration: 200ms;
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px var(--mainColor);
    filter: hue-rotate(var(--hueShift)) brightness(var(--brightness));
}

.socials img:hover{
    border-radius: 10%;
    transition-duration: 100ms;
    box-shadow: 0px 0px 50px 10px var(--thirdColor);
}

.gameLeft{
    width: 35vw;
    height: 90vh;
    gap: 2vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition-duration: 100ms;
}
.gameRight{
    width: 60vw;
    height: 33.75vw;
    transition-duration: 100ms;
}
.gameLeft:has(+ .gameRight:hover){
    width: 25vw;
}
.gameRight:hover{
    width: 75vw;
    transition-duration: 100ms;
}

.gameContainer{
    z-index: 10;
    width: 60vw;
    height: 33.75vw;
    transition-duration: 100ms;
    position: relative;
    box-shadow: 0px 0px 50px -50px var(--mainColor),0px 0px 50px -10px var(--secondColor);
}

.gameRight:hover .gameContainer:hover{
    width: 75vw;
    height: 42.1875vw;
    transition-duration: 100ms;
}

.gameContainer img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.timer{
    position: absolute;
    height: 2vh;
    background-color: var(--mainColor);
    bottom: 0vh;
}

.infoButton{
    margin-left: 0.5vw;
    border-color: transparent;
    border-radius: 1000px;
    background-color: transparent;
    cursor: pointer;
}
.infoButton h3{
    font-size: 1.5vw;
    line-height: 2.65vw;
}


.gap{
    height: var(--gap);
}

.gameLeft button{
    border-color: var(--secondColor);
    border-radius: 15px;
    background-color: transparent;
    transition-duration: 200ms;

    width: 15vw;
    height: 5vw;
}
.gameLeft .buttonSelected{
    border-radius: 15px;
    cursor: pointer;
    border-color: var(--thirdColor);
    box-shadow: 0px 0px 20px 0px var(--mainColor);
    background-color: var(--mainColor);
    transition-duration: 150ms;
}
.gameLeft .buttonSelected:hover{
    background-color: var(--thirdColor);
    border-color: var(--mainColor);
}

.gameLeft .buttonSelected:active{
    background-color: var(--secondColor);
    border-color: var(--thirdColor);
}

.gameLeft button h3{
    color: var(--secondColor);
}

.gameLeft .buttonSelected h3{
    color: var(--thirdColor);
    text-shadow: 4px 4px 0px var(--secondColor);
}
.gameLeft .buttonSelected:hover h3{
    color: var(--mainColor) !important;
    text-shadow: 4px 4px 0px var(--mainColorTransparent) !important;
}
.gameLeft .buttonSelected:active h3{
    color: var(--thirdColor);
}

.mapSelect{
    position: absolute;
    margin-top:-39vw;
    margin-left:35vw;
    display: none;
    flex-direction: row;
    gap: 0.75vw;
}
.mapSelect button{
    width: 6vw;
    height: 4.5vh;
}

.mapSelect button{
    background-color: var(--mainColor);
    color: var(--thirdColor);
    font-size: 1vw;
    border-radius: 5%;
    box-shadow: 0px 0px 10px 0px var(--mainColor);
    border: var(--thirdColor) 0.12vw solid;
    font-family: "Leela", sans-serif;
    font-weight: bold;
    transition-duration: 100ms;
}
.mapSelect button:hover{
    cursor: pointer;
    background-color: var(--thirdColor);
    color: var(--mainColor);
    transition-duration: 100ms;
}

.selectedMap{
    border: var(--secondColor) solid !important;
    text-shadow: 0px 0px 5px var(--secondColor);
}

.slider {
    -webkit-appearance: none;
    width: 40vw;
    height: 1vw;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 1vw;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    border-radius: 45%;
    height: 25px;
    box-shadow: 0px 0px 10px 0px var(--mainColor);
    background: var(--mainColor);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 45%;
    box-shadow: 0px 0px 10px 0px var(--mainColor);
    background: var(--mainColor);
    cursor: pointer;
  }

.startgameMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1vw;
    scale: 98%;
}
#difficultyText{
    margin: 0.5vw;
}

#difficultyButton{
    border-color: var(--mainColor);
    border-radius: 15px;
    height: 4vw;
    margin: 1vw;
    min-width: 15vw;
    background-color: transparent;
    transition-duration: 200ms;
}
#difficultyButton:hover{
    border-color: var(--thirdColor);
    background-color: var(--mainColor);
    transition-duration: 100ms;
    cursor: pointer;
    box-shadow:0px 0px 50px 0px var(--mainColor);
    z-index: 10;
}
#difficultyButton:active{
    border-color: var(--secondColor);
}

#difficultyButton:hover h4{
    color: var(--thirdColor);
    text-shadow: 4px 4px 0px var(--secondColor);
}

.startGameSmallButton{
    border-color: var(--mainColor);
    border-radius: 15px;
    height: 3vw;
    min-width: 7.5vw;
    background-color: transparent;
    transition-duration: 200ms;
}
.startGameSmallButton h4{
    margin: 0.5vw;
}

.startGameSmallButton:hover{
    border-color: var(--thirdColor);
    background-color: var(--mainColor);
    transition-duration: 100ms;
    cursor: pointer;
    box-shadow:0px 0px 25px 0px var(--mainColor);
    z-index: 10;
}
.startGameSmallButton:hover h4{
    color: var(--thirdColor);
    text-shadow: 4px 4px 0px var(--secondColor);
}

.mapButtonSelected{
    background-color: var(--mainColor);
    box-shadow:0px 0px 50px 0px var(--mainColor);
}
.mapButtonSelected:hover{
    background-color: var(--secondColor);
    box-shadow:0px 0px 50px 0px var(--mainColor);
}
.mapButtonSelected h4{
    color: var(--thirdColor);
    text-shadow: 4px 4px 0px var(--secondColor);
}

#roundAmmountSliderText{
    width: 10vw;
}

#timeLimitSliderText{
    width: 15vw;
}

#startButton{
    margin: 2vw;
    border-color: var(--thirdColor);
    border-radius: 15px;
    height: 5vw;
    min-width: 20vw;
    background-color: var(--thirdColor);
    box-shadow:0px 0px 10px 0px var(--mainColor);
    transition-duration: 200ms;
}

#startButton:hover{
    background-color: var(--mainColor);
    box-shadow:0px 0px 50px 0px var(--mainColor);
    cursor: pointer;
}

#startButton:hover h2{
    color: var(--thirdColor);
    text-shadow: 4px 4px 0px var(--secondColor);
}

#mapImg{
    opacity: 0%;
    transition-duration: 100ms;
}
.gameContainer:hover #mapImg{
    opacity: 100%;
    transition: ease-out 100ms;
}

button:disabled{
    opacity: 10%;
    pointer-events: none;
}

.selectedImage{
    opacity: 0%;
    width: 8px !important;
    height: 8px !important;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px black;
}
.gameContainer:hover .selectedImage{
    opacity: 100%;
}
.modifierBlackWhite{
    filter: grayscale() !important;
}

.pixelated{
    filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='b' x='0' y='0'%3E%3CfeFlood x='4' y='4' height='500' width='500'/%3E%3CfeComposite width='500' height='500'/%3E%3CfeTile result='a'/%3E%3CfeComposite in='SourceGraphic' in2='a' operator='in'/%3E%3CfeMorphology operator='dilate' radius='5'/%3E%3C/filter%3E%3C/svg%3E#b");
}

.horizontalScore div{
    width: 50vw;
    height: calc(100vh - 10vh);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#scoreImg{
    width: 80%;
    box-shadow: 0px 0px 100px -20px var(--mainColor);
}

.ScoreBut{
    border-color: var(--mainColor);
    border-radius: 15px;
    min-width: 15vw;
    margin: 2vw;
    background-color: transparent;
    transition-duration: 200ms;
}
.ScoreBut:hover{
    border-color: var(--thirdColor);
    background-color: var(--mainColor);
    transition-duration: 100ms;
    cursor: pointer;
    box-shadow:0px 0px 50px 0px var(--mainColor);
    z-index: 10;
}
.ScoreBut:active{
    background-color: var(--secondColor);
    border-color: var(--thirdColor);
}
.ScoreBut h2{
    padding: 10px;
}
.ScoreBut:hover h2{
    color: var(--thirdColor);
    text-shadow: 4px 4px 0px var(--secondColor);
}
.ScoreBut:active h2{
    color: var(--thirdColor);
    text-shadow: 4px 4px 0px var(--mainColor);
}

.scoreButtons{
    display: flex !important;
    flex-direction: row !important;
    height: 7.5vw !important;
}

#pointText{
    width: 75%;
    font-size: 3.5vw;
    padding-bottom: 2vw;
    padding-top: 2vw;
}

#ThemeChanger{
    width: 4vw;
    height: 6vw;
    position: absolute;
    z-index: 500;
    margin-left: -90vw;
    border: none;
    background-color: var(--mainColor);
    box-shadow: 0px 0px 20px -5px var(--secondColor);
}
#ThemeChanger img{
    width: 125%;
    margin-left: -7.5%;
    rotate: 180deg;
}
#ThemeChanger:hover{
    cursor: pointer;
    background-color: var(--thirdColor);
    transition: 200ms;
}
#ThemeChanger:active{
    background-color: var(--secondColor);
    transition: 0ms !important;
}
#ThemeChanger:hover img{
    width: 140%;
    margin-left: -15%;
    transition: 200ms;
}
.tarik{
    position: absolute;
    width: 7vw;
    height: 4vw;
    z-index: 1000;
    left: 8vw;
    top: 0.5vw;
    opacity: 20%;
    filter: blur(1px) brightness(80%);
}

#overlay{
    width: 100vw;
    height: 200vh;
    position: absolute;
    background-color: black;
    z-index: 600;
    pointer-events: none;
    margin-top: -100vh;
}
.overlayGone{
    transition:500ms opacity;
    transition-delay: 250ms;
    opacity: 0;
}

#donateDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15vw;
    height: 6vw;
    position: absolute;
    z-index: 500;
    margin-left: 80vw;
    border: none;
    background-color: var(--mainColor);
    box-shadow: 0px 0px 20px -5px var(--secondColor);

    font-family: "Leela", sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    color: var(--thirdColor);
    text-shadow: 4px 4px 0px var(--mainColorTransparent);
}

#donateDiv a{
    width: 80%;
    height: 50%;
}

#donateButton{
    height: 100%;
    width: 100%;
    margin-top: 2%;
    color: var(--secondColor);
    border-color: var(--mainColorTransparent);
    border-radius: 2px;
}

#donateButton h2{
    font-family: "Leela", sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    color: black;
    text-shadow: 4px 4px 0px var(--mainColorTransparent);
}
#donateButton:hover{
    cursor: pointer;
    transition-duration: 100ms;
    scale: 110%;
}